<md-toolbar class="md-menu-toolbar" layout="row">
  <md-toolbar-filler layout layout-align="center center">
    <md-icon md-svg-icon="call:chat"></md-icon>
  </md-toolbar-filler>
  <div>
    <h2 class="md-toolbar-tools">Untitle document</h2>
    <md-menu-bar>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          File
        </button>
        <md-menu-content>
          <md-menu-item>Hello world</md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          Edit
        </button>
        <md-menu-content>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <button ng-click="$mdOpenMenu()">
          View
        </button>
        <md-menu-content>
        </md-menu-content>
      </md-menu>
    </md-menu-bar>
  </div>
</md-toolbar>
