md-toolbar.md-menu-toolbar {
  h2.md-toolbar-tools {
    line-height: 1rem;
    height: auto;
    padding: 3.5 * $baseline-grid;
    padding-bottom: 1.5 * $baseline-grid;
  }
}

md-menu-bar {
  padding: 0 2.5 * $baseline-grid;
  display: block;
  button {
    font-size: rem(1.4);
    padding: 0 1.25 * $baseline-grid;
    margin: 0;
    border: 0;
    background-color: transparent;
    height: 5 * $baseline-grid;
  }
}
