md-toolbar.md-THEME_NAME-theme {
  md-menu-bar button {
    color: '{{foreground-2}}';
    border-radius: 2px;
    &:focus {
      outline: none;
      background: '{{background-200}}';
    }
  }
}

md-toolbar.md-THEME_NAME-theme.md-menu-toolbar {
  background-color: '{{background-color}}';
  color: '{{foreground-1}}';
  md-toolbar-filler {
    background-color: '{{primary-color}}';
    color: '{{primary-contrast}}';
  }
}
